.user-input {
  position: relative;
  width: 33rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 0px 4px 0.25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0.25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0 1.5rem;

  @media screen and (max-width: 960px) {
    margin-bottom: 1rem;
  }

  input {
    border: none;
    font-size: 1.5rem;
    margin-right: 8rem;
  }

  .user-input__delete {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
  }
}

.user-input__details-container {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 33rem;
  -webkit-box-shadow: 0px 0px 4px 0.25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0.25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1.25rem 1.75rem;

  p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;

    li {
      padding: 0.1rem 0.4rem;
      border-radius: 5px;
      cursor: pointer;
      transition-property: background;
      transition-duration: 0.6s;
    }

    .green {
      color: #4caf50;
      &:hover {
        background-color: rgba(76, 175, 80, 0.2);
      }
    }
    .green-lock {
      color: #4caf50;
      background-color: rgba(76, 175, 80, 0.2);
    }

    .yellow {
      color: #ffea00;
      &:hover {
        background-color: rgba(255, 234, 0, 0.2);
      }
    }
    .yellow-lock {
      color: #ffea00;
      background-color: rgba(255, 234, 0, 0.2);
    }

    .orange {
      color: #ff9800;
      &:hover {
        background-color: rgba(255, 152, 0, 0.2);
      }
    }
    .orange-lock {
      color: #ff9800;
      background-color: rgba(255, 152, 0, 0.2);
    }

    .red {
      color: #e53935;
      &:hover {
        background-color: rgba(229, 57, 53, 0.2);
      }
    }
    .red-lock {
      color: #e53935;
      background-color: rgba(229, 57, 53, 0.2);
    }
  }

  textarea {
    height: 10rem;
    padding: 0.75rem;
    margin-bottom: 2rem;
  }
}
.user-input__buttons-container {
  align-self: flex-end;
  display: flex;

  .user-input__cancel-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    height: 2.25rem;
    width: 7rem;
    border-radius: 5px;
    border: none;
  }
  .user-input__button-off {
    cursor: not-allowed !important;
  }
}

.dark-background {
  background-color: #2b3945;
}

.darker-background {
  background-color: #202c37;
}

.light-background {
  background-color: #fafafa;
}

.lighter-background {
  background-color: #fff;
}

.light-font {
  color: white;
}

.dark-font {
  color: #111517;
}

.darker-font {
  color: black;
}

.darker-border {
  border: solid 1px black;
}

.light-border {
  border: solid 1px white;
}
