.dark-background {
  background-color: #2b3945;
}

.darker-background {
  background-color: #202c37;
}

.light-background {
  background-color: #fafafa;
}

.lighter-background {
  background-color: #fff;
}

.light-font {
  color: white;
}

.dark-font {
  color: #111517;
}

.darker-font {
  color: black;
}
