*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: 410px) {
    font-size: 55%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: sans-serif;
  -moz-osx-font-smoothing: sans-serif;
  font-weight: 500;
  line-height: 1.6;
}
